<!DOCTYPE html>
<html ng-app="indexApp">
<head>
	<title>Angular Tutorial</title>
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<!-- JavaScript -->
	<script src="js/index.js"></script>
	<script src="js/appController.js"></script>
	<script src="js/cribsFactory.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- ui Bootstrap -->
	<script href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>

</head>
<body>

	<div ng-controller="appController">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">AngularTut</a>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="col-sm-4" ng-repeat="crib in info.cribs">
				<div class="thumbnail">
					<img class="img-responsive" ng-src="images/{{crib.image}}.jpg" alt="">
					<div class="caption">
						<div ng-hide="showDetails === true">
							<h3><i class="glyphicon glyphicon-tag"></i> {{crib.price | currency}}</h3>
							<h4>
								<i class="glyphicon glyphicon-home"></i> {{crib.address}}
								<span class="label label-primary label-sm">{{crib.type}}</span>
							</h4>
						</div>

						<button
							class="btn btn-xs btn-success"
							ng-hide="showDetails === true"
							ng-click="showDetails = !showDetails">
							Details</button>

						<button
							class="btn btn-xs btn-danger"
							ng-show="showDetails === true"
							ng-click="showDetails = !showDetails">
							Close</button>

						<div class="details" ng-show="showDetails === true">
							<h4>
								<span class="label label-primary label-sm">Beds: {{crib.details.bedrooms}}</span>
								<span class="label label-primary label-sm">Baths: {{crib.details.bathrooms}}</span>
								<span class="label label-primary label-sm">SqFt: {{crib.details.area}}</span>
							</h4>
							<p>{{crib.description}}</p>
						</div>

					</div><!-- End caption -->
				</div><!-- End thumbnail -->
			</div><!-- End col-sm-4 -->
		</div><!-- End container -->

	</div><!-- End ng-controller -->

</body>
</html>