<!DOCTYPE html>
<html ng-app="indexApp">
<head>
	<title>Angular Tutorial</title>
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<!-- JavaScript -->
	<script src="js/index.js"></script>
	<script src="js/appController.js"></script>
	<script src="js/cribsFactory.js"></script>
	<script src="js/valuesFactory.js"></script>
	<script src="js/cribsFilter.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- ui Bootstrap -->
	<script href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>

</head>
<body>

	<div ng-controller="appController">

	<!-- NavBar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">AngularTut</a>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="col-sm-12 price-form">

				<!-- Filter -->
				<div class="row price-form-row" ng-if="!addListing">
					<div class="col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">Min Price</span>
							<select
								name="minPrice"
								id="minPrice"
								ng-model="info.price.min"
								class="form-control">
									<option
										ng-repeat="item in info.values"
										value="{{item}}">{{item | currency}}</option>
							</select>
						</div>
					</div><!-- End col-sm-6 -->
					<div class="col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">Max Price</span>
							<select
								name="maxPrice"
								id="maxPrice"
								ng-model="info.price.max"
								class="form-control">
									<option
										ng-repeat="item in info.values"
										value="{{item}}">{{item | currency}}</option>
							</select>
						</div>
					</div><!-- End col-sm-6 -->
				</div><!-- End row -->

				<button
					class="btn btn-primary"
					ng-click="addListing = !addListing"
					ng-show="!addListing">
					Add Listing
				</button>
				<button
					class="btn btn-danger"
					ng-click="addListing = !addListing"
					ng-show="addListing">
					Close
				</button>

				<!-- Add listing -->
				<div
					class="listing-form"
					ng-if="addListing">
					<h3>Add a Listing</h3>
					<div class="row listing-form-row">
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">Address</span>
								<input
									type="text"
									placeholder="Enter the address"
									class="form-control"
									ng-model="newListing.address">
							</div>
						</div><!-- End col-sm-4 -->
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">Price</span>
								<input
									type="text"
									placeholder="Enter the price"
									class="form-control"
									ng-model="newListing.price">
							</div>
						</div><!-- End col-sm-4 -->
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">Type</span>
								<select
									type="select"
									name="propertyType"
									id="propertyType"
									class="form-control"
									ng-model="newListing.type">
									<option value="House">House</option>
									<option value="Condo">Condo</option>
									<option value="Duplex">Duplex</option>
									<option value="Apartment">Apartment</option>
								</select>
							</div>
						</div><!-- End col-sm-4 -->
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">Bedrooms</span>
								<input
									type="text"
									placeholder="Bedrooms"
									class="form-control"
									ng-model="newListing.details.bedrooms">
							</div>
						</div><!-- End col-sm-4 -->
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">Bathrooms</span>
								<input
									type="text"
									placeholder="Bathrooms"
									class="form-control"
									ng-model="newListing.details.bathrooms">
							</div>
						</div><!-- End col-sm-4 -->
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">SqFt</span>
								<input
									type="text"
									placeholder="SqFt"
									class="form-control"
									ng-model="newListing.details.area">
							</div>
						</div><!-- End col-sm-4 -->
					</div><!-- End row -->
					<button
						class="btn btn-primary listing-button"
						ng-click="addCrib(newListing)"
						ng-show="addListing"
						>
						Add</button>
					<pre>{{newListing | json}}</pre>
				</div><!-- End listing-form -->
			</div><!-- End col-sm-12 -->
		</div><!-- End container -->

		<!-- Listings -->
		<div class="container">
			<div
				class="col-sm-4"
				ng-repeat="crib in info.cribs | cribsFilter:info.price | orderBy: '-id'">
				<div class="thumbnail">
					<img class="img-responsive" ng-src="images/{{crib.image}}.jpg" alt="">
					<div class="caption">
						<div ng-hide="showDetails === true">
							<h3><i class="glyphicon glyphicon-tag"></i> {{crib.price | currency}}</h3>
							<h4>
								<i class="glyphicon glyphicon-home"></i> {{crib.address}}
								<span class="label label-primary label-sm">{{crib.type}}</span>
							</h4>
						</div>

						<button
							class="btn btn-xs btn-success"
							ng-hide="showDetails === true"
							ng-click="showDetails = !showDetails">
							Details</button>

						<button
							class="btn btn-xs btn-danger"
							ng-show="showDetails === true"
							ng-click="showDetails = !showDetails">
							Close</button>

						<div class="details" ng-show="showDetails === true">
							<h4>
								<span class="label label-primary label-sm">Beds: {{crib.details.bedrooms}}</span>
								<span class="label label-primary label-sm">Baths: {{crib.details.bathrooms}}</span>
								<span class="label label-primary label-sm">SqFt: {{crib.details.area}}</span>
							</h4>
							<p>{{crib.description}}</p>
						</div>

					</div><!-- End caption -->
				</div><!-- End thumbnail -->
			</div><!-- End col-sm-4 -->
		</div><!-- End container -->

	</div><!-- End ng-controller -->

</body>
</html>